@import "variables.less";

.cover() {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.contain() {
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important; 
}

.h1() { font-size: @font-size-h1; }   .h1 { font-size: @font-size-h1; }
.h2() { font-size: @font-size-h2; }   .h2 { font-size: @font-size-h2; }
.h3() { font-size: @font-size-h3; }   .h3 { font-size: @font-size-h3; }
.h4() { font-size: @font-size-h4; }   .h4 { font-size: @font-size-h4; }
.h5() { font-size: @font-size-h5; }   .h5 { font-size: @font-size-h5; }
.h6() { font-size: @font-size-h6; }   .h6 { font-size: @font-size-h6; }

.light()   { font-weight: 100;}
.normal()  { font-weight: 400;}
.bold()    { font-weight: 700;}

.radius(@px) {
	.border-top-radius(@px);					
	.border-bottom-radius(@px);	
}


.clearmenu() {	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		& {
			border: transparent;
			margin-bottom: 0;
			min-height: 0;
		}
		div.navbar-collapse {
			border: none;
			padding-right: 0;
			padding-left: 0;
			ul.nav.navbar-nav {
				text-align: right;
				width: 100%;
				li {
					float: none;
					display: inline-block;
				}
			}
		}
	}	
}




/* Classes Padrões */
/* ----------------------------------------- */
	.cor-pri { color: @cor-pri; }
	.cor-seg { color: @cor-seg; }
	.cor-ter { color: @cor-ter; }
	.cor-qua { color: @cor-qua; }

	.bg-pri { background-color: @cor-pri; }
	.bg-seg { background-color: @cor-seg; }
	.bg-ter { background-color: @cor-ter; }
	.bg-qua { background-color: @cor-qua; }

/* ----------------------------------------- Classes Padrões */		

.btn-success() {
	background-color: @brand-success;
	color: white;
	text-transform: uppercase;
	padding: 5px 12px;	
	display: inline-block;
	border: 0;
	font-size: 18px;
	&:hover {
		background-color: darken(@brand-success, 15%);
	}	
}