//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "angolanos-mixins.less";
@import "bootstrap/mixins.less";

@font-face {
	font-family: 'star';
	src: url('../fonts/star.eot');
	src: url('../fonts/star.eot?#iefix') format('embedded-opentype'),
		url('../fonts/star.woff') format('woff'),
		url('../fonts/star.ttf') format('truetype'),
		url('../fonts/star.svg#star') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WooCommerce';
	src: url('../fonts/WooCommerce.eot');
	src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WooCommerce.woff') format('woff'),
		url('../fonts/WooCommerce.ttf') format('truetype'),
		url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}

@-webkit-keyframes spin {.mixi-frames;}
@-moz-keyframes spin {.mixi-frames;}
@-ms-keyframes spin {.mixi-frames;}
@-o-keyframes spin {.mixi-frames;}
@keyframes spin {.mixi-frames;}
.mixi-frames () {
	100% { transform: rotate(360deg); }
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, a, ul, ul li, input, textarea, p {
	font-family: @font-pri;
	margin: 0;
}
a {
	.transition(all 150ms ease-in-out);
	text-decoration: none !important;
}

hr {
	margin: 0;	
	border-top: 1px solid @cor-sex;
}

/* Header */
/* ----------------------------------------- */
	#header {
		border-bottom: 3px solid  @cor-sex;
		#logotipo {
			display: block;
			img { 
				margin: 0 auto;
			}
			/* Small devices (tablets, 768px and up) */
			@media (min-width: @screen-sm-min) { 
			}			
		}
		#stick-menu {
			border-top: 3px solid  @cor-pri;
			padding: 16px 0;
			background-color: #F4F4F4;
			p,a { 
				margin: 0;
			}
			i {
				font-size: 16px;
				padding-right: 5px;
				&:nth-of-type(2) {
					border-left: 1px solid @cor-qua;
					padding-left: 15px;
					margin-left: 15px;
				}
			}			
		}

		#main-menu {
			padding-top: 35px;
			#menu-interno {
				padding-bottom: 40px;
			}

			.box-busca {	
				.asp_text_button {
					background-color: @cor-qui;
					color: white;
					margin: 2px;
					height: 28px;
					line-height: 28px;
					&:hover {
						background-color: fade(@cor-qui, 80%);
					}
				}	

				.telefone_info {
					padding: 0; border: 0; min-height: 0;
					text-align: right;
					float: right;
					span { margin-top: -6px; }
				}		
				/* Small devices (tablets, 768px and up) */
				@media (min-width: @screen-sm-min) { 
					margin-top: 50px;
				}				
			}

			#menu-usuario {
				margin: 30px 0;
				@media (min-width: @screen-sm-min) { margin: 0; }							
				ul {
					padding: 0;
					li {
						list-style: none;
						display: inline-block;						
						margin-left: 30px;
						a {
							color: @cor-qui;
							text-transform: uppercase;
							i {
								margin-right: 5px;
							}
							&:hover { color: @cor-pri; }
						}
					}
				}
			}

			#navmenu {
				.clearmenu();
				ul {
					li {
						a {
							text-transform: uppercase;
							font-weight: 600;
							font-size: 16px;
						}
					}
					/* Small devices (tablets, 768px and up) */
					@media (min-width: @screen-sm-min) { 
						li {
							a {

							}
							&:last-of-type {
								a {
									padding-right: 0;
								}
							}
						}
					}
			
					/* Medium devices (desktops, 992px and up) */
					@media (min-width: @screen-md-min) { 
						li {
							a {
								padding: 15px 8px;
								font-size: 14px;
								margin-top: 6px;
							}					
						}
					}
					
					/* Large devices (large desktops, 1200px and up) */
					@media (min-width: @screen-lg-min) { 
						li {
							a {
								padding: 15px 14px;
								font-size: 16px;
								margin-top: 6px;
							}					
						}
					}

				}
			}
		}		
	}
	.linha-produtos span {
		background-color: @cor-pri;
		display: block;
		.h4();
		font-weight: bold;
		color: white;
		padding: 18px;
	}
/* ----------------------------------------- Header */		


/* Home */
/* ----------------------------------------- */
	#slider-box {
		background: url('../images/pattern-slider.png') repeat;
	}
	.banner {
		margin: 19px 0;
		margin-bottom: 15px !important;
		
		.slick-prev, .slick-next {
			&::before {
				background-color: #313131;
				.radius(50%);
				width: 40px;
				height: 40px;
				display: block;
				border: 5px solid #313131;
			}
		}
	}
/* ----------------------------------------- Home */		

/* Content */
/* ----------------------------------------- */
	#content {
		background-color: #F4F4F4;		
	}
/* ----------------------------------------- Content */		


/* Newsletter */
/* ----------------------------------------- */

	#chamada-newsletter {
		margin: 50px 0;
		#submit_simplenewsletter {
			
			input {
				width: 100%;
				padding: 9px 17px;
				color: #808082;
				font-size: 14px;
				.radius(0);				
				border: 1px solid fade(@cor-qui, 50%);				
			}
			> * {
				margin-top: 10px;
			}

			.simplenewsleter-field-submit {			
				background-color: @brand-success;
				color: white;
				border: 0;				
				&:hover {
					background-color: darken(@brand-success, 15%);
				}
			}

			.clearfix();				
			/* Small devices (tablets, 768px and up) */
			@media (min-width: @screen-sm-min) { 
				> * { 
					float: left;
					margin-top: 0;
				}
				fieldset {
					width: 34%;
					margin-right: 3%;				
				}
				.simplenewsleter-field-submit {
					width: 26%;				
				}
			}
			
		}
		.simplenewsletter-success {
			padding: 10px 15px;
			border: 1px solid white;
			margin-top: 15px;
			.radius(5px);  
			color: @cor-qua;		
		}
	}

/* ----------------------------------------- Newsletter */		


/* Tabs */
/* ----------------------------------------- */
	.nav-tabs {		
		&.text-center li { float: none; display: inline-block; }
		li {
			a {
				color: @cor-sex;
				font-size: 24px;
			}
		}
	}
	body.home {
		.tab-content {
			padding: 40px 0;
			.products {
				border-top: 0;
			}
		}
	}
/* ----------------------------------------- Tabs */		

/* Menu Produtos */
/* ----------------------------------------- */
	ul#menu-linha-de-produtos {
		position: relative;
		top: -3px;
		padding: 10px 0;		
		background-color: @cor-seg;
		li { list-style: none; }		
		> li {			
			margin-top: 0;
			display: block;			
			> ul {
				padding-left: 25px;
				padding-bottom: 15px;
				> li {					
					border-left: 1px solid white;
					margin: 5px 0;
					a {
						color: white;
						display: block;
						padding: 0px 10px;
						&:hover {
							// color: @cor-ter;
							background-color: @cor-ter;
						}
					}
				}
			}
			> a {
				background-color: @cor-seg;
				color: white;
				&:hover {
					background-color: @cor-ter;
				}		
			}
		}						
	}
/* ----------------------------------------- Menu Produtos */		



/* Footer */
/* ----------------------------------------- */
	footer#footer {
		border-top: 20px solid @cor-qui;
		#primary-footer {
			background-color: @cor-qua;
			padding-bottom: 30px;
			h4 {
				font-size: 16px;
				color: white;
				font-weight: 500;
				margin-bottom: 8px;
				margin-top: 30px;
			}
			ul.menu {
				padding: 0;
				li {
					list-style: none;
				  padding-left: 1.2em;
				  margin-bottom: 1px;						  						 
				  a { 
				  	font-size: 14px;
				  	font-weight: normal;	
				  	color: white;
				  	&:hover { 
				  		color: @cor-pri;
				  		}
				  	}
				  			  
				  &:before {
				  	content:"\f054";
				  	color: @cor-qui;
					  font-family: FontAwesome; /* FontAwesome or whatever */
					  display: inline-block;
					  width: 1.2em; /* same as padding-left set on li */
					  margin-left: -1.2em; /* same as padding-left set on li */
					}
				}
			}
		} // primary-footer

		#secondary-footer {
			background-color: #F4F4F4;
			h4 {
				padding: 20px 0;
				img {
					position: relative;
					top: -4px;
				}
			}			
		} // secondary-footer

		#thirty-footer {
			padding-bottom: 30px;
			.texto-juridico {				
				font-style: italic;
				color: @cor-qui;
				text-align: center;
				max-width: 90%;
				margin: 30px auto;
				font-size: 12px;
			}

			.copy {
				text-align: center;				
			}
			#bigo {				
				color: @cor-qui;
				&:hover {
					strong { color: @cor-pri;}
				}
			}
		}
	}
/* ----------------------------------------- Footer */		

/* Loja */
/* ----------------------------------------- */
	.box-store {
		padding-top: 40px;
		padding-bottom: 40px;

		.page-title {
			.h2();
			font-weight: 600;
			color: @cor-pri;
			margin-bottom: 40px;

			.woocommerce-breadcrumb {
				display: inline-block;
				margin-left: 20px;
				padding-left: 20px;
				border-left: 1px solid @cor-qui;
				font-weight: normal;
				position: relative;
				top: -2px;
				.h5();
				a {
					&:hover {
						color: @cor-pri;
					}
				}
			}
		}
	}
/* ----------------------------------------- Loja */		



/* Select */
/* ----------------------------------------- */		
	.woocommerce-result-count {
		float: left;
		margin: 1em 0 !important;
	}
  
	.select-box {		
		background-color: white;
		margin: 0 !important;
		margin-bottom: 1em !important;
		position: relative;
		border: 1px solid fade(@cor-qui, 20%);
		z-index: 2;
		width: 100%;		

		select {
			-webkit-appearance:none;
		  -moz-appearance:none;
		  appearance:none;
		  position:relative;
		  z-index: 2;
		  width: 100%;
		  background:transparent;
		  display: inline-block;
		  padding:9px;
		  // border:1px solid @cor-pri;
		  border: 0;
		  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
		  box-sizing: border-box; 
		  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
		  -webkit-border-radius: 0px; 
		  /* Firefox 1-3.6 */
		  -moz-border-radius: 0px; 
		  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
		  border-radius: 0px;		  	  	  
		  text-transform: uppercase;
		  color: @cor-pri;
		  font-weight: 600;
		  font-size: 14px;
		  padding-right: 30px;
		  &:focus {
		  	outline: 0;
		  }
		}	  	
		
		&::after {
			// content:"\f078";
			content:"\f13a";
		  font-family: FontAwesome;	  	  
		  position:absolute;
		  right: 8px;
		  top: 50%;
		  color: @cor-sex;	  	  
		  z-index:1;	  	  
		  font-size: 22px;
		  line-height:10%;  	  
		}
	}


/* ----------------------------------------- Select */		


/* Loop Produtos */
/* ----------------------------------------- */
	.woocommerce {
		ul.products {			
			padding: 0;
			padding-top: 30px;
			li {
				list-style: none;
				margin-bottom: 30px;
				.product {				
					border: 1px solid @cor-sex;
					background-color: white;
					position: relative;
					h3 {
						text-align: center;
						font-weight: bold;
						font-size: 14px;			
						text-transform: uppercase;
						color: @cor-qui;
						padding-top: 0;
					}
					a {
						&:first-of-type {
							padding: 25px;
							display: block;
							text-align: center;
							h5 {
								font-size: 12px;
								font-weight: 500;
								padding: 5px 0 10px;
								text-transform: uppercase;
								border-bottom: 1px solid @cor-sex;
								margin-bottom: 10px;

							}
							img {
								max-width: 100%;
								height: auto;
								display: block;
								margin-top: 10px;
							}
							span {
								&.price {
									color: @cor-pri;
									font-size: 18px;
									font-weight: bold;
									margin-bottom: 0;
									display: block;									
									
									.from {
										display: block;
										&, * {
											font-size: 15px !important;
											color: @cor-sex;
										}
									}	

									&.parcelado {
										font-weight: 600;
										.normal {
											font-weight: normal;
										}
									} // parcelado									
								} // price

								&.onsale {
									position: absolute;
								  left: 0;
							    top: 0;
							    padding: 0 5px;
							    background-color: @cor-seg;
							    color: white;
								}
							}
						}
						&.added_to_cart {
							display: block;
							text-align: center;
							padding: 10px;
							color: @brand-success;
							// text-transform: uppercase;
							font-weight: bold;
							position: absolute;
							bottom: 42px;
							width: 100%;
							&:hover { text-decoration: underline !important;}
							i { margin-right: 6px; }
						}
						&.add_to_cart_button {
							display: block;
							text-transform: uppercase;
							text-align: center;
							background-color: @brand-success;
							color: white;
							font-size: 16px;
							font-weight: bold;
							padding: 12px 5px;
							.radius(0);
							&:hover {
								background-color: darken(@brand-success, 10%);
							}
						}
					}
				}
			}
		}
	}

/* ----------------------------------------- Loop Produtos */		


/* Banners */
/* ----------------------------------------- */
	aside {
		.sidebar-banners {
			margin-top: 15px;
		}
	}
	.sidebar-banners {
		.banner-item {
			margin-bottom: 15px;
			.mask {
				background-repeat: no-repeat;				
				text-align: right;								
				.cover();

				a {
					display: block;
					padding: 35px 25px;
					min-height: 145px;
					&:hover {
						span {
							color: @cor-pri;
						}
					}
					h2 {
						color: white;
						font-weight: bold;
						text-transform: uppercase;
						.h3();
					}
					span {
						color: white;
						font-weight: normal;
						font-size: 14px;
						text-transform: uppercase;
					}
				}

			}
		}
	}
/* ----------------------------------------- Banners */		


/* Geral */
/* ----------------------------------------- */	
	.section-title {
		color: @cor-ter;
		padding-bottom: 10px;
		border-bottom: 1px solid lightgray;
		margin-bottom: 20px;		
		.button {
			font-size: 14px;
			margin-top: 6px !important;
		}
	}
	.telefone_info, .email_info {
		min-height: 60px;
		line-height: 50px !important;
		font-weight: 600;
		color: @cor-qui;
		line-height: normal;
		text-transform: uppercase;
		padding-left: 40px;
		border-left: 1px solid fade(@cor-qui, 15%);
		display: inline-block;
		span {
			text-transform: uppercase;
			line-height: 0;					
			position: relative;
			top: 8px;
			margin-top: 10px;
			font-size: 14px; font-weight: 400 !important;
			color: @cor-qui;
			display: block;			
		}
		&.telefone_info {
			font-size: 24px;
		}
		&:hover {
			color: @cor-pri;
			span { color: @cor-qui; }
		}
	}
/* ----------------------------------------- Geral */		




/* Single Product */
/* ----------------------------------------- */
	.single-product {
		.product {
			position: relative;
			span.onsale {
				position: absolute;
			  left: 0;
		    top: 0;
		    padding: 0 5px;
		    background-color: @cor-seg;
		    color: white;
			}

			.woocommerce-main-image {
				img {
					max-width: 100%;
					height: auto;
				}
			}
			.entry-summary {
				.product_title {
					.h3();
					font-weight: bold;
					color: @cor-qui;
					line-height: auto;
					margin-bottom: 10px;
				}
				form.cart {
					float: left;
					.buttons_added {
						margin-right: 25px;
						margin-top: 23px;
					}

					#zipcode {
						border: 1px solid;
				    padding: 4px 15px !important;
				    height: auto !important;
					}
					button[type="submit"] {
						margin-top: 0;
						&.single_add_to_cart_button {
							margin-top: 15px;
						}
					}
				}
				table.variations {
					width: 100%;
					td {
						&.label {
							color: @cor-qui;
							font-size: 18px;
							margin-right: 10px;
						}
					}
				}
				.product_meta {
					float: left;
					margin-left: 20px;
					margin-top: 23px;
				}				
				.offers, .single_variation_wrap {
					margin: 20px 0;
					span {
						&.from {
							display: block;
							&, * {
								font-size: 15px !important;
								color: @cor-sex;
							}
						}				
						&.price {
							color: @brand-success;					
							font-weight: 600;						
							.h4();
							display: block;
							.amount {
								.h3();
							}
							ins { text-decoration: none; }						
						}
						&.parcelado {
							font-weight: 600;
							.normal {
								font-weight: normal;
							}
						}
					}
				}

				.woocommerce-review-link {
					margin-bottom: 20px;
					.clearfix();
					display: block;
				}			

				#product_nav {
					float: right;
					width: 80px;
					height: 50px;
					span.title {
						display: block;
						color: @cor-sex;
						margin-bottom: 2px;
					}
					ul {
						padding: 0;
						text-align: center;
						li {
							list-style: none;
							display: inline-block;
							width: 30px;
							height: 30px;
							overflow: hidden;
							a {
								display: inline-block;
								width: 30px;
								height: 30px;
								&:hover i {
									background-color: @cor-qui;
								}
								span {
									text-indent: -9000px;
									display: inline-block;
								}
								
								i {
									text-indent: 0;
									background-color: @cor-sex;
									color: white;
									width: 30px;
									height: 30px;
									.radius(50%);
									font-size: 17px;
									&:before {
										line-height: 30px;									
									}
								}

							}
						}
					}
				}				
			} // entry-summary
		}
		.caroufredsel_wrapper {
			ul.yith_magnifier_gallery {
				li {
					a {
						text-align: center;
						img {
							border: 1px solid fade(@cor-qui, 10%);
						}
					}
				}
			}
		}

		.wc-tabs-wrapper {
			margin-top: 40px;	

			ul.tabs {
				padding: 0;
				list-style: none;										
				position: relative;
				border-bottom: 2px solid @cor-qui;						

				li {
					border: 2px solid @cor-sex;						
					display: inline-block;
					position: relative;					
					margin-right: 1.5em;
					border-bottom: 0;
					top: 2px;					

					a {
						display: inline-block;
						padding: .5em 1.5em;
						font-weight: 700;
						color: @cor-qui;
						text-decoration: none;

						&:hover {
							color: @cor-qui;
							text-decoration: none;								
						}
					}

					&.active {
						border-color: @cor-qui;
						border-bottom: 2px solid #F4F4F4;						
						a {
							color: @cor-qui;
							text-shadow: inherit;
						}

					}

					&:before,
					&:after {
						// border: 1px solid darken( @cor-sex, 10% );
						position: absolute;
						bottom: -1px;
						width: 5px;
						height: 5px;
						content: " ";
					}

					&:before {
						left: -6px;
					}

					&:after {
						right: -6px;
					}
				}

				&:before {
					position: absolute;
					content: " ";
					width: 100%;
					bottom: 0;
					left: 0;
					// border-bottom: 1px solid darken( @cor-sex, 10% );
					z-index: 1;
				}
			}

			.panel {
				margin: 0 0 2em;
				padding: 2em 0 ;
				background: #F4F4F4;

				h2 {
					margin-bottom: 20px;
					.h3();
				}
			}			
		}
		.related {
			ul.products {
				li {
					.product {
						border: 0;
						background-color: transparent;

						a {
							&.add_to_cart_button {
								font-size: 14px;
								margin-top: 15px;
							}
							&:first-of-type {
								padding: 0;
								img {
									border: 1px solid @cor-sex;								
								}
								h3 {
									font-size: 16px;
									text-align: left;
									font-weight: 400;
									text-transform: capitalize;
									padding: 10px 0;
									border-bottom: 1px solid fade(@cor-qui, 20%);
									margin-bottom: 10px;
								}
								span {
									&.price {
										text-align: left;
										color: @brand-success;
										font-size: 18px;
										font-weight: 600;
										margin-bottom: 0;
										display: block;

										&.from {
											display: block;
											&, * {
												font-size: 15px !important;
												color: @cor-sex;
											}
										}	

										&.parcelado {
											font-weight: 600;
											.normal {
												font-weight: normal;
											}
										}
									}
								}

							}
						}
					}
				}
			}
		}// .related
	} // woo


/* ----------------------------------------- Single Product */		

/* Woocommerce */
/* ----------------------------------------- */
	
	/**
	 * Star ratings
	 */
	.woocommerce {		


		.buttons_added {
			float: left;
			margin-top: 10px;
			padding: 0 !important;
			margin-right: 10px;
			input.minus, input.plus {
				position: relative;
				border: 0;				
				color: white;
				font-size: 16px;
				width: 18px;
				height: 18px;
				text-align: center;
				padding: 0;
				padding-bottom: 2px;
				margin-top: 5px;
				.radius(50%);
				&:focus { outline: 0; }
			}
			input.input-text.qty {
				margin: 0 8px;
				border: 1px solid fade(@cor-qui, 30%);				
				padding: 5px 15px;
				width: 50px;
				display: inline-block;
				.radius(0);
			}
			input.minus {
				float: left;
				background: @cor-pri;
			}
			input.plus {
				float: right;
				background: @brand-success;
			}
		}
		button.single_add_to_cart_button {
			.btn-success();
			padding: 10px 20px;
		}		


		.woocommerce-message,
		.woocommerce-error,
		.woocommerce-info {
			padding: 1em 2em 1em 3.5em !important;
			margin: 0 0 2em !important;
			position: relative;
			background-color: #E6FBD3;
			color: @cor-qui;
			// border-top: 3px solid $primary;
			list-style: none outside !important;
			.clearfix();
			width: auto;
			word-wrap: break-word;

			&:before {
				// font-family: "WooCommerce";
				font-family: "FontAwesome";
				content:"\f05a";
				display: inline-block;
				position: absolute;
				top: 1em;
				left: 1.5em;
			}

			.button {
				float: right;
			}

			li {
				list-style: none outside !important;
				padding-left: 0 !important;
				margin-left: 0 !important;
			}
			a.wc-forward {
				text-transform: uppercase;
				color: @cor-qui;
				font-weight: bold;

				background-color: transparent;
				padding: 0;
				margin: 0;
				&:hover {
					color: @brand-success;
				}
			}
		}

		.woocommerce-message {
			border-top: 1px solid #8fae1b;

			&:before {
				content:"\f129";
				color: @cor-qui;
			}
		}

		.woocommerce-info {
			border-top: 1px solid #1e85be;

			&:before {
				color: #1e85be;
			}
		}

		.woocommerce-error {
			border-top: 1px solid #b81c23;

			&:before {
				content:"\f00d";
				color: #b81c23;
			}
		}


		/**
		 * Reviews
		 */
		#reviews {
			h2 small {
				float: right;
				// color: $subtext;
				font-size: 15px;
				margin: 10px 0 0 0;

				a {
					text-decoration: none;
					// color: $subtext;
				}
			}

			h3 {
				margin: 0;
			}

			#respond {
				margin: 0;
				border: 0;
				padding: 0;
			}

			#comment {
				height: 75px;
			}

			#comments {
				.add_review {
					.clearfix();
				}

				h2 {
					clear: none;
					margin-bottom: 25px;
					.h3();
				}

				ol.commentlist {
					padding: 0;
					.clearfix();
					margin: 0;
					width: 100%;
					background: none;
					list-style: none;

					li {
						padding: 0;
						margin: 0 0 20px;
						border: 0;
						position: relative;
						background: 0;
						border: 0;

						.meta {
							// color: $subtext;
							font-size: 0.75em;
						}

						img.avatar {
							float: left;
							position: absolute;
							top: 0;
							left: 0;
							padding: 3px;
							width: 32px;
							height: auto;
							// background: @cor-sex;
							border: 1px solid darken( @cor-sex, 3% );
							margin: 0;
							box-shadow: none;
						}

						.comment-text {
							margin: 0 0 0 50px;
							border: 1px solid darken( @cor-sex, 3% );
							border-radius: 4px;
							padding: 1em 1em 0;
							.clearfix();

							p {
								margin: 0 0 1em;
							}

							p.meta {
								font-size: 0.83em;
							}
						}
					}

					ul.children {
						list-style: none outside;
						margin: 20px 0 0 50px;

						.star-rating {
							display: none;
						}
					}

					#respond {
						border: 1px solid darken( @cor-sex, 3% );
						border-radius: 4px;
						padding: 1em 1em 0;
						margin: 20px 0 0 50px;
					}
				}

				.commentlist > li:before {
					content: "";
				}
			}
		}

		.star-rating {
			float: right;
			overflow: hidden;
			position: relative;
			height: 1em;
			line-height: 1;
			font-size: 1em;
			width: 5.4em;
			color: #F8AD40;
			font-family: 'star' !important;

			&:before {
				content: "\73\73\73\73\73";
				// color: darken( @cor-sex, 10% );
				float: left;
				top: 0;
				left: 0;
				position: absolute;
			}
			// > span { font-family: 'star' !important; }

			span {
				overflow: hidden;
				float: left;
				top: 0;
				left: 0;
				position: absolute;
				padding-top: 1.5em;
			}

			span:before {
				content: "\53\53\53\53\53";
				top: 0;
				position: absolute;
				left: 0;
			}
		}

		.woocommerce-product-rating {
			.clearfix();
			line-height: 2;
			display: block;

			.star-rating {
				margin: .5em 4px 0 0;
				float: left;
			}
		}

		.products {
			.star-rating {
				display: block;
				margin: 0 0 .5em;
				float: none;
			}
		}

		.hreview-aggregate {
			.star-rating {
				margin: 10px 0 0 0;
			}
		}

		#review_form {
			#respond {
				.clearfix();
				position: static;
				margin: 0;
				width: auto;
				padding: 0 0 0;
				background: transparent none;
				border: 0;

				p {
					margin: 0 0 10px;
				}

				.form-submit {
					input {
						left: auto;
					}
				}

				textarea {
					box-sizing: border-box;
					width: 100%;
				}
			}
		}

		p.stars {
			position: relative;
			font-size: 1em;

			a {
				display: inline-block;
				font-weight: 700;
				margin-right: 1em;
				text-indent: -9999px;
				position: relative;
				border-bottom: 0 !important;
				outline: 0;

				&:last-child {
					border-right: 0;
				}

				&.star-1,
				&.star-2,
				&.star-3,
				&.star-4,
				&.star-5 {
					border-right: 1px solid #ccc;

					&:after {
						font-family: "WooCommerce";
						text-indent: 0;
						position: absolute;
						top: 0;
						left: 0;
					}

				}

				&.star-1 {
					width: 2em;

					&:after {
						content: "\e021";
					}

					&:hover:after,
					&.active:after {
						content: "\e020"
					}
				}

				&.star-2 {
					width: 3em;

					&:after {
						content: "\e021\e021";
					}

					&:hover:after,
					&.active:after {
						content: "\e020\e020"
					}
				}

				&.star-3 {
					width: 4em;

					&:after {
						content: "\e021\e021\e021";
					}

					&:hover:after,
					&.active:after {
						content: "\e020\e020\e020"
					}
				}

				&.star-4 {
					width: 5em;

					&:after {
						content: "\e021\e021\e021\e021";
					}

					&:hover:after,
					&.active:after {
						content: "\e020\e020\e020\e020"
					}
				}

				&.star-5 {
					width: 6em;
					border: 0;

					&:after {
						content: "\e021\e021\e021\e021\e021";
					}

					&:hover:after,
					&.active:after {
						content: "\e020\e020\e020\e020\e020"
					}
				}
			}
		}
		

		/**
		 * Tables
		 */
		table.shop_attributes {
			border: 0;
			border-top: 1px dotted rgba(0,0,0,0.1);
			margin-bottom: 1.618em;
			width: 100%;

			th {
				width: 150px;
				font-weight: 700;
				padding: 8px;
				border-top: 0;
				border-bottom: 1px dotted rgba(0,0,0,0.1);
				margin: 0;
				line-height: 1.5;
			}

			td {
				font-style: italic;
				padding: 0;
				border-top: 0;
				border-bottom: 1px dotted rgba(0,0,0,0.1);
				margin: 0;
				line-height: 1.5;

				p {
					margin: 0;
					padding: 8px 0;
				}
			}

			.alt td,
			.alt th {
				background: rgba(0,0,0,0.025);
			}
		}

		table.shop_table {
			border: 1px solid rgba(0,0,0,0.1);
			margin: 0px -1px 24px 0px;
			text-align: left;
			width: 100%;
			background-color: white;
			border-collapse: separate;
			border-radius: 5px;

			th {
				font-weight: 700;
				padding: 9px 6px;
				text-transform: uppercase;
				&.product-remove {
					padding-left: 10px;	
				}
			}

			td {
				border-top: 1px solid rgba(0,0,0,0.1);				
				padding: 15px 6px;
				vertical-align: middle;
				&.product-remove {
					text-align: center;
				}
				small {
					font-weight: normal;
				}				
				&.product-thumbnail {
					img {
						max-width: 60px;
						height: auto;
					}
				}
				&.actions {
					border-top: 3px solid @cor-qui;
					vertical-align: top;
				}
				span.amount {
					font-weight: bold;
				}
				&.shipping { padding-left: 15px !important; }
				&.actions { padding-right: 15px !important; }
			}

			tbody:first-child {
				tr:first-child {
					th,
					td {
						border-top: 0;
					}
				}
			}

			tfoot td,
			tfoot th,
			tbody th {
				font-weight: 700;
				border-top: 1px solid rgba(0,0,0,0.1);
			}
		}

		table.my_account_orders {
			font-size: 0.85em;

			th,
			td {
				padding: 4px 8px;
				vertical-align: middle;
			}

			.button {
				white-space: nowrap;
			}

			.order-actions {
				text-align: right;

				.button {
					margin: .125em 0 .125em .25em;
				}
			}
		}

		td.product-name {
			dl.variation {
				margin: .25em 0;
				.clearfix();

				dt,
				dd {
					display: inline-block;
					float: left;
					margin-bottom: 1em;
				}

				dt {
					font-weight: 700;
					padding: 0 0 .25em 0;
					margin: 0 4px 0 0;
					clear: left;
				}

				dd {
					padding: 0 0 .25em 0;

					p:last-child {
						margin-bottom: 0;
					}
				}
			}

			p.backorder_notification {
				font-size: 0.83em;
			}
		}

		td.product-quantity {
			min-width: 80px;
		}


		/**
		 * Cart sidebar
		 */
		ul.cart_list,
		ul.product_list_widget {
			list-style: none outside;
			padding: 0;
			margin: 0;

			li {
				padding: 4px 0;
				margin: 0;
				.clearfix();
				list-style: none;

				a {
					display: block;
					font-weight: 700;
				}

				img {
					float: right;
					margin-left: 4px;
					width: 32px;
					height: auto;
					box-shadow: none;
				}

				dl {
					margin: 0;
					padding-left: 1em;
					border-left: 2px solid rgba(0,0,0,0.1);
					.clearfix();

					dt,
					dd {
						display: inline-block;
						float: left;
						margin-bottom: 1em;
					}

					dt {
						font-weight: 700;
						padding: 0 0 .25em 0;
						margin: 0 4px 0 0;
						clear: left;
					}

					dd {
						padding: 0 0 .25em 0;

						p:last-child {
							margin-bottom: 0;
						}
					}
				}

				.star-rating {
					float: none;
				}
			}
		}

		&.widget_shopping_cart,
		.widget_shopping_cart {
			.total {
				border-top: 3px double lightgray;
				padding: 4px 0 0;

				strong {
					min-width: 40px;
					display: inline-block;
				}
			}

			.cart_list {
				li {
					padding-left: 2em;
					position: relative;
					padding-top: 0;

					a.remove {
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}

			.buttons {
				.clearfix();
			}
		}
		
		.shipping, .coupon {
			h4 {
				font-weight: bold;
				margin-bottom: 15px;
			}
			.input-text {
				border: 1px solid fade(@cor-qui, 20%);
				padding: 9px;
				width: 100%;
			}
		}

		.shipping {
			border-top: 3px solid @cor-qui !important;
			
			.shipping-calculator-button {
				display: none !important;
			}
			.shipping-calculator-form {
				display: block !important;
			}
			
			.select-box, .input-text {
				max-width: 270px;
			}
		}

		.button {
			color: white;
			background-color: @cor-qui;
			padding: 5px 15px;
			display: inline-block;
			border: none;
			text-transform: uppercase;
			margin-top: 15px;
			&:hover {
				background-color: @brand-success;
			}

			&.loading {
				opacity: 0.25;
				padding-right: 2.618em;

				&:after {
					font-family: "WooCommerce";
					content: "\e01c";
					vertical-align: top;
					-webkit-font-smoothing: antialiased;
					font-weight: 400;
					position: absolute;
					// top: .618em;
					right: .7em;
					.mixi-frames();
					-webkit-animation: spin 2s linear infinite;
				    -moz-animation: spin 2s linear infinite;
				    animation: spin 2s linear infinite;
				}
			}

			&.added {
				&:after {
					font-family: 'WooCommerce';
					content: "\e017";
					margin-left: .53em;
					vertical-align: bottom;
				}
			}

		}

		.button-success {
			.btn-success();
		}

		.button-success-inverse {
			color: @brand-success;
			background-color: white;
			padding: 5px 15px;
			display: inline-block;
			border: 2px solid @brand-success;
			text-transform: uppercase;
			margin-top: 15px;
			font-weight: bold;
			&:hover {
				color: white;
				background-color: @brand-success;
			}
		}
		
		
		.cart_totals, .woocommerce-checkout-review-order {
			border: 1px solid rgba(0,0,0,0.1);
			margin: 0px -1px 24px 0px;
			padding: 3px 15px 15px;
			text-align: left;
			width: 100%;
			background-color: white;
			border-collapse: separate;
			border-radius: 5px;

			h2 {
				font-size: 14px;
				font-weight: 700;
				padding: 9px 0;
				text-transform: uppercase;
			}

			.frete {	
				margin: 5px 0;
			}
			#shipping_method, .payment_methods {
				padding: 0;
				li {
					list-style: none;
					input[type="radio"] {
						position: absolute;
					}
					label {
						padding-left: 17px;
						font-weight: 400;
						&:hover {
							color: @brand-success;
							cursor: pointer;
						}
					}
				}
			}
			.payment_methods {	
				margin: 30px 0;			
			}
			.wc-proceed-to-checkout {
				margin-top: 100px;
				hr {
					border-top: 3px solid  @brand-success;					
				}
				.button-success-inverse {
					display: block;
					width: 100%;					
				}
				.button-success {
					font-weight: normal;
					width: 100%;
					text-align: center;
					font-size: 14px;
					padding: 10px 15px;
				}				
			}
		}
		#place_order {
			.btn-success();
			font-weight: normal;
			text-align: center;
			padding: 15px 5px;
			display: block;
			width: 100%;
		}
		form.woocommerce-checkout {
			#customer_details {
				.woocommerce-billing-fields, .woocommerce-shipping-fields {
					h3 {
						text-transform: uppercase;
						color: @cor-pri;
						font-weight: 500;
						margin-bottom: 20px;						
					}
					
					.form-row {
						float: left;
						label {
							display: block;
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 400;
							margin-top: 15px;
							&.checkbox {
								display: inline-block;
							}
						}
						&.form-row-first {
							width: 49%;
							margin-right: 1%;
						}

						&.form-row-last {
							width: 48%;
							margin-left: 1%;
						}	

						&.form-row-wide, &.notes {
							width: 100%;
						}

						.input-text, textarea  {
							border: 1px solid fade(@cor-qui, 20%);
							padding: 9px;
							width: 100%;
						}
					}

					.select-box {
						margin-bottom: 0 !important;
					}					
				} // billing-fields

				.woocommerce-shipping-fields {
					
				} // woocommerce-shipping-fields
			}
		}
		.select2-container {
			.select2-choice {
				padding: 9px;
				height: 39px;
				line-height: 20px;
				border: 1px solid fade(@cor-qui, 20%);
				color: @cor-pri;
				background: white;
				font-weight: bold;
				.radius(0);
				.select2-arrow {
					background: white;
					border: 0;
					b {
						content:"\f13a";
					  font-family: FontAwesome;	  	  
					  position:absolute;
					  background: none !important;
					  color: @cor-sex;	  	  
					  z-index:1;	  	  
					  font-size: 22px;
					  line-height:10%;  	  
					  &:before {
			  			content:"\f13a";
			  		  font-family: FontAwesome;	  	  
			  		  position:absolute;
			  		  right: 8px;
			  		  top: 50%;
			  		  color: @cor-sex;	  	  
			  		  z-index:1;	  	  
			  		  font-size: 22px;
			  		  line-height:10%;  
					  }
					}
				}
			}
		}

		/**
		 * Price filter widget
		 */
		.widget_price_filter {
			padding: 40px 0;
			h2 {
				display: block !important;
				.h4();
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom:15px;
			}
			.price_slider {
				margin-bottom: 1em;
			}

			.price_slider_amount {
				text-align: right;
				line-height: 2.4;
				font-size: 0.8751em;

				.button {					
					float: left;
					margin: 0;
					font-size: 14px;
					padding: 2px 10px;
				}

				.price_slider_amount {
					float: right;
				}
			}

			.ui-slider {
				position: relative;
				text-align: left;
				margin-left: .5em;
				margin-right: .5em;
			}

			.ui-slider .ui-slider-handle {
				position: absolute;
				z-index: 2;
				width: 1em;
				height: 1em;
				background-color: @cor-pri;
				border-radius: 1em;
				cursor: ew-resize;
				outline: none;
				top: -.3em;

				//&:last-child {
					margin-left: -.5em;
				//}
			}

			.ui-slider .ui-slider-range {
				position: absolute;
				z-index: 1;
				font-size: .7em;
				display: block;
				border: 0;
				border-radius: 1em;
				background-color: @cor-pri;
			}

			.price_slider_wrapper .ui-widget-content {
				border-radius: 1em;
				background-color: @cor-pri - #444;
				border: 0;
			}

			.ui-slider-horizontal {
				height: .5em;
			}

			.ui-slider-horizontal .ui-slider-range {
				top: 0;
				height: 100%;
			}

			.ui-slider-horizontal .ui-slider-range-min {
				left: -1px;
			}

			.ui-slider-horizontal .ui-slider-range-max {
				right: -1px;
			}
		}
		

		nav.woocommerce-pagination {
			text-align: left;

			ul {
				display: inline-block;
				white-space: nowrap;
				padding: 0;
				clear: both;
				// border: 1px solid darken( lightgray, 10% );
				border-right: 0;
				margin: 1px;

				li {
					border: 2px solid @cor-seg;
					padding: 0;
					margin: 0;					
					display: inline-block;
					.radius(4px);
					overflow: hidden;

					a,
					span {
						margin: 0;
						text-decoration: none;
						padding: 0;
						line-height: 1;
						font-size: 1em;
						font-weight: bold;
						padding: .5em;
						min-width: 1em;
						display: block;
						color: @cor-seg;
					}

					span.current,
					a:hover,
					a:focus {
						background: @cor-seg;
						color: white;
					}
				}
			}
		}
		

		/**
		 * Forms
		 */
		form {
			.form-row {
				padding: 3px;
				margin: 0 0 6px;

				[placeholder]:focus::-webkit-input-placeholder {
					-webkit-transition: opacity 0.5s 0.5s ease;
					-moz-transition: opacity 0.5s 0.5s ease;
					transition: opacity 0.5s 0.5s ease;
					opacity: 0;
				}

				label {
					line-height: 2;
				}

				label.hidden {
					visibility: hidden;
				}

				label.inline {
					display: inline;
				}

				select {
					cursor: pointer;
					margin: 0;
				}

				.required {
					color: red;
					font-weight: 700;
					border: 0;
				}

				.input-checkbox {
					display: inline;
					margin: -2px 8px 0 0;
					text-align: center;
					vertical-align: middle;
				}

				input.input-text,
				textarea {
					box-sizing: border-box;
					width: 100%;
					margin: 0;
					outline: 0;
					line-height: 1;
				}

				textarea {
					height: 4em;
					line-height: 1.5;
					display: block;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					box-shadow: none;
				}

				.select2-container {
					width: 100%;
					line-height: 2em;
				}

				&.woocommerce-invalid {
					.select2-container,
					input.input-text,
					select {
						border-color: @cor-ter;
					}
				}

				&.woocommerce-validated {
					.select2-container,
					input.input-text,
					select {
						border-color: @brand-success;
					}
				}

				::-webkit-input-placeholder {
					line-height: normal;
				}

				:-moz-placeholder {
					line-height: normal;
				}

				:-ms-input-placeholder {
					line-height: normal;
				}
			}
		}

		form.login,
		form.checkout_coupon,
		form.register {
			// border: 1px solid darken( lightgray, 10% );
			// padding: 20px;
			margin: 2em 0 2em 0px;
			text-align: left;
			border-radius: 5px;
		}
		
		/**
		 * Forms
		 */
		form {
			.form-row {
				.clearfix();

				label {
					display: block;

					&.checkbox {
						display: inline;
					}
				}

				select {
					width: 100%;
				}

				.input-text {
					box-sizing: border-box;
					width: 100%;
					padding: 10px 5px;
				}
			}

			.form-row-first,
			.form-row-last {
				float: left;
				width: 47%;
				overflow: visible;
			}

			.form-row-last {
				float: right;
			}

			.form-row-wide {
				clear: both;
			}
		}


	} // woocommerce

	.woocommerce {
		#billing_country_field, #billing_postcode_field {
			width: 100%;
		}
	}
/* ----------------------------------------- Woocommerce */		

/* Pages */
/* ----------------------------------------- */
	.hentry {
		.conteudo {
			p {
				margin-bottom: 10px;
			}
		}
	}
/* ----------------------------------------- Pages */		


/* Fale Conosco / Contato */
/* ----------------------------------------- */
	article.fale-conosco {
		form {
			input[type="text"], input[type="email"], textarea {
				width: 100%;
				display: block;
				border: 2px solid @cor-ter;
				padding: 7px 10px;
				line-height: normal;
				color: @cor-ter;
				margin-bottom: 15px;
				.placeholder(@cor-ter);
			}
			input[type="submit"] {
				background-color: #2EB971;
				color: white;
				border: 0;
				.h4();
				font-weight: bold;
				text-transform: uppercase;
				padding: 4px 20px 3px;				
				.radius(0);
				&:hover {
					background-color: darken(@brand-success, 10%);
				}
			}
		}
		.acf-map {
			height: 325px;
		}
		.infos {
			aside {
				float: right;
				padding: 0 100px;
				border-left: 4px solid lightgray;
				margin-left: 120px;
				margin-top: 20px;
				margin-bottom: 30px;
				a {
					color: @cor-ter;
					&:hover {
						text-decoration: underline !important;
					}
				}
			}
		}
	}
/* ----------------------------------------- Fale Conosco / Contato */		

.woocommerce-MyAccount-navigation ul {
	list-style: none;
	display: flex;
	padding: 0 0 5px 0;
	justify-content: space-between;
	margin: 20px 0;
	border-bottom: 1px solid;
}