/*------------------------------------------|
|   Title: InContent;                       |
|   Author: Bruno Rodrigues;                |
|   URL: bit.ly/BrunoTw                     |
|------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
/*--- CONTENT STRUCTURE ---*/
.pic {
  max-width: 713px;
  max-height: 312px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  animation: anima 2s;
  -webkit-animation: anima 2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.pic-3d {
  -webkit-perspective: 500;
  -webkit-transform-style: preserve-3d;
}
.pic-caption {
  cursor: default;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/mask-img.png) no-repeat rgba(163, 153, 89, 0.72);
  padding: 10px;
  text-align: center;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.pic-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: rgba(163, 153, 89, 0.72);
}
.pic:hover .pic-image {
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*All classes with similar attribute*/
a,
a:hover,
.pic .pic-image,
.pic-caption,
.pic:hover .pic-caption,
.pic:hover img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*--- EFFECTS AND TRANSITIONS ---*/
.pic:hover .bottom-to-top,
.pic:hover .top-to-bottom,
.pic:hover .left-to-right,
.pic:hover .right-to-left,
.pic:hover .rotate-in,
.pic:hover .rotate-out,
.pic:hover .open-up,
.pic:hover .open-down,
.pic:hover .open-left,
.pic:hover .open-right,
.pic:hover .come-left,
.pic:hover .come-right {
  background: url(../images/mask-img.png) no-repeat rgba(142, 132, 65, 0.72);
}
/*Open Up*/
.open-down {
  transform: rotateX(-180deg);
  top: 0;
  left: 0;
}
.pic:hover .open-down {
  transform: rotateX(0);
}
/*Top to Bottom*/
.top-to-bottom {
  bottom: 0;
  left: 0;
}
.pic:hover .top-to-bottom {
  left: 0;
  bottom: 0;
}
/*Left to Right*/
.left-to-right {
  top: 0;
  right: 50%;
}
.pic:hover .left-to-right {
  right: 0;
  top: 0;
}
@media screen and (max-width: 560px) {
  .pic {
    max-width: 360px;
    max-height: 480px;
    display: block;
    animation: none;
    margin: 10px auto;
  }
}
