/* Mais Editados */
/* ----------------------------------------- */
/* ----------------------------------------- Mais Editados */
/* login page background */
/* logo */
.login h1 a {
  background: url("../images/logo-falcao28.png") no-repeat center center;
  width: 245px!important;
  height: 135px!important;
  margin: 80px auto 5px;
  background-size: auto;
}
/*
/* messages *!/
.message { background:#fff; color:black }
.login #login_error { background-color:#fff; border-color:gray; color:#black;}

/* login form *!/
.login label { color: black; }
.login input[type=text], .login input[type=password] { color:gray; }
.login .button-primary { border-color:gray; font-weight: bold; color: white; background: #617861; text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0; }

/* links below login forms *!/
.login #nav, .login #backtoblog {text-shadow:none !important;padding: 8px;}
.login #nav a, .login #backtoblog a {color: black !important; text-decoration:none}
.login #nav a:hover, .login #backtoblog a:hover { text-decoration: underline;
}*/
