/* Mais Editados */
/* ----------------------------------------- */
/* ----------------------------------------- Mais Editados */
.h1 {
  font-size: 36px;
}
.h2 {
  font-size: 30px;
}
.h3 {
  font-size: 24px;
}
.h4 {
  font-size: 18px;
}
.h5 {
  font-size: 14px;
}
.h6 {
  font-size: 12px;
}
/* Classes Padrões */
/* ----------------------------------------- */
.cor-pri {
  color: #D91E18;
}
.cor-seg {
  color: #A31612;
}
.cor-ter {
  color: #7A100E;
}
.cor-qua {
  color: #313131;
}
.bg-pri {
  background-color: #D91E18;
}
.bg-seg {
  background-color: #A31612;
}
.bg-ter {
  background-color: #7A100E;
}
.bg-qua {
  background-color: #313131;
}
/* ----------------------------------------- Classes Padrões */
@font-face {
  font-family: 'star';
  src: url('../fonts/star.eot');
  src: url('../fonts/star.eot?#iefix') format('embedded-opentype'), url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WooCommerce';
  src: url('../fonts/WooCommerce.eot');
  src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'), url('../fonts/WooCommerce.woff') format('woff'), url('../fonts/WooCommerce.ttf') format('truetype'), url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ul li,
input,
textarea,
p {
  font-family: 'Exo 2';
  margin: 0;
}
a {
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important;
}
hr {
  margin: 0;
  border-top: 1px solid #D2D2D2;
}
/* Header */
/* ----------------------------------------- */
#header {
  border-bottom: 3px solid #D2D2D2;
}
#header #logotipo {
  display: block;
  /* Small devices (tablets, 768px and up) */
}
#header #logotipo img {
  margin: 0 auto;
}
#header #stick-menu {
  border-top: 3px solid #D91E18;
  padding: 16px 0;
  background-color: #F4F4F4;
}
#header #stick-menu p,
#header #stick-menu a {
  margin: 0;
}
#header #stick-menu i {
  font-size: 16px;
  padding-right: 5px;
}
#header #stick-menu i:nth-of-type(2) {
  border-left: 1px solid #313131;
  padding-left: 15px;
  margin-left: 15px;
}
#header #main-menu {
  padding-top: 35px;
}
#header #main-menu #menu-interno {
  padding-bottom: 40px;
}
#header #main-menu .box-busca {
  /* Small devices (tablets, 768px and up) */
}
#header #main-menu .box-busca .asp_text_button {
  background-color: #4D4D4D;
  color: white;
  margin: 2px;
  height: 28px;
  line-height: 28px;
}
#header #main-menu .box-busca .asp_text_button:hover {
  background-color: rgba(77, 77, 77, 0.8);
}
#header #main-menu .box-busca .telefone_info {
  padding: 0;
  border: 0;
  min-height: 0;
  text-align: right;
  float: right;
}
#header #main-menu .box-busca .telefone_info span {
  margin-top: -6px;
}
@media (min-width: 768px) {
  #header #main-menu .box-busca {
    margin-top: 50px;
  }
}
#header #main-menu #menu-usuario {
  margin: 30px 0;
}
@media (min-width: 768px) {
  #header #main-menu #menu-usuario {
    margin: 0;
  }
}
#header #main-menu #menu-usuario ul {
  padding: 0;
}
#header #main-menu #menu-usuario ul li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
#header #main-menu #menu-usuario ul li a {
  color: #4D4D4D;
  text-transform: uppercase;
}
#header #main-menu #menu-usuario ul li a i {
  margin-right: 5px;
}
#header #main-menu #menu-usuario ul li a:hover {
  color: #D91E18;
}
#header #main-menu #navmenu {
  /* Small devices (tablets, 768px and up) */
}
@media (min-width: 768px) {
  #header #main-menu #navmenu {
    border: transparent;
    margin-bottom: 0;
    min-height: 0;
  }
  #header #main-menu #navmenu div.navbar-collapse {
    border: none;
    padding-right: 0;
    padding-left: 0;
  }
  #header #main-menu #navmenu div.navbar-collapse ul.nav.navbar-nav {
    text-align: right;
    width: 100%;
  }
  #header #main-menu #navmenu div.navbar-collapse ul.nav.navbar-nav li {
    float: none;
    display: inline-block;
  }
}
#header #main-menu #navmenu ul {
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */
}
#header #main-menu #navmenu ul li a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
@media (min-width: 768px) {
  #header #main-menu #navmenu ul li:last-of-type a {
    padding-right: 0;
  }
}
@media (min-width: 992px) {
  #header #main-menu #navmenu ul li a {
    padding: 15px 8px;
    font-size: 14px;
    margin-top: 6px;
  }
}
@media (min-width: 1200px) {
  #header #main-menu #navmenu ul li a {
    padding: 15px 14px;
    font-size: 16px;
    margin-top: 6px;
  }
}
.linha-produtos span {
  background-color: #D91E18;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 18px;
}
/* ----------------------------------------- Header */
/* Home */
/* ----------------------------------------- */
#slider-box {
  background: url('../images/pattern-slider.png') repeat;
}
.banner {
  margin: 19px 0;
  margin-bottom: 15px !important;
}
.banner .slick-prev::before,
.banner .slick-next::before {
  background-color: #313131;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 40px;
  height: 40px;
  display: block;
  border: 5px solid #313131;
}
/* ----------------------------------------- Home */
/* Content */
/* ----------------------------------------- */
#content {
  background-color: #F4F4F4;
}
/* ----------------------------------------- Content */
/* Newsletter */
/* ----------------------------------------- */
#chamada-newsletter {
  margin: 50px 0;
}
#chamada-newsletter #submit_simplenewsletter {
  /* Small devices (tablets, 768px and up) */
}
#chamada-newsletter #submit_simplenewsletter input {
  width: 100%;
  padding: 9px 17px;
  color: #808082;
  font-size: 14px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(77, 77, 77, 0.5);
}
#chamada-newsletter #submit_simplenewsletter > * {
  margin-top: 10px;
}
#chamada-newsletter #submit_simplenewsletter .simplenewsleter-field-submit {
  background-color: #34A75A;
  color: white;
  border: 0;
}
#chamada-newsletter #submit_simplenewsletter .simplenewsleter-field-submit:hover {
  background-color: #226d3b;
}
#chamada-newsletter #submit_simplenewsletter:before,
#chamada-newsletter #submit_simplenewsletter:after {
  content: " ";
  display: table;
}
#chamada-newsletter #submit_simplenewsletter:after {
  clear: both;
}
@media (min-width: 768px) {
  #chamada-newsletter #submit_simplenewsletter > * {
    float: left;
    margin-top: 0;
  }
  #chamada-newsletter #submit_simplenewsletter fieldset {
    width: 34%;
    margin-right: 3%;
  }
  #chamada-newsletter #submit_simplenewsletter .simplenewsleter-field-submit {
    width: 26%;
  }
}
#chamada-newsletter .simplenewsletter-success {
  padding: 10px 15px;
  border: 1px solid white;
  margin-top: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #313131;
}
/* ----------------------------------------- Newsletter */
/* Tabs */
/* ----------------------------------------- */
.nav-tabs.text-center li {
  float: none;
  display: inline-block;
}
.nav-tabs li a {
  color: #D2D2D2;
  font-size: 24px;
}
body.home .tab-content {
  padding: 40px 0;
}
body.home .tab-content .products {
  border-top: 0;
}
/* ----------------------------------------- Tabs */
/* Menu Produtos */
/* ----------------------------------------- */
ul#menu-linha-de-produtos {
  position: relative;
  top: -3px;
  padding: 10px 0;
  background-color: #A31612;
}
ul#menu-linha-de-produtos li {
  list-style: none;
}
ul#menu-linha-de-produtos > li {
  margin-top: 0;
  display: block;
}
ul#menu-linha-de-produtos > li > ul {
  padding-left: 25px;
  padding-bottom: 15px;
}
ul#menu-linha-de-produtos > li > ul > li {
  border-left: 1px solid white;
  margin: 5px 0;
}
ul#menu-linha-de-produtos > li > ul > li a {
  color: white;
  display: block;
  padding: 0px 10px;
}
ul#menu-linha-de-produtos > li > ul > li a:hover {
  background-color: #7A100E;
}
ul#menu-linha-de-produtos > li > a {
  background-color: #A31612;
  color: white;
}
ul#menu-linha-de-produtos > li > a:hover {
  background-color: #7A100E;
}
/* ----------------------------------------- Menu Produtos */
/* Footer */
/* ----------------------------------------- */
footer#footer {
  border-top: 20px solid #4D4D4D;
}
footer#footer #primary-footer {
  background-color: #313131;
  padding-bottom: 30px;
}
footer#footer #primary-footer h4 {
  font-size: 16px;
  color: white;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 30px;
}
footer#footer #primary-footer ul.menu {
  padding: 0;
}
footer#footer #primary-footer ul.menu li {
  list-style: none;
  padding-left: 1.2em;
  margin-bottom: 1px;
}
footer#footer #primary-footer ul.menu li a {
  font-size: 14px;
  font-weight: normal;
  color: white;
}
footer#footer #primary-footer ul.menu li a:hover {
  color: #D91E18;
}
footer#footer #primary-footer ul.menu li:before {
  content: "\f054";
  color: #4D4D4D;
  font-family: FontAwesome;
  /* FontAwesome or whatever */
  display: inline-block;
  width: 1.2em;
  /* same as padding-left set on li */
  margin-left: -1.2em;
  /* same as padding-left set on li */
}
footer#footer #secondary-footer {
  background-color: #F4F4F4;
}
footer#footer #secondary-footer h4 {
  padding: 20px 0;
}
footer#footer #secondary-footer h4 img {
  position: relative;
  top: -4px;
}
footer#footer #thirty-footer {
  padding-bottom: 30px;
}
footer#footer #thirty-footer .texto-juridico {
  font-style: italic;
  color: #4D4D4D;
  text-align: center;
  max-width: 90%;
  margin: 30px auto;
  font-size: 12px;
}
footer#footer #thirty-footer .copy {
  text-align: center;
}
footer#footer #thirty-footer #bigo {
  color: #4D4D4D;
}
footer#footer #thirty-footer #bigo:hover strong {
  color: #D91E18;
}
/* ----------------------------------------- Footer */
/* Loja */
/* ----------------------------------------- */
.box-store {
  padding-top: 40px;
  padding-bottom: 40px;
}
.box-store .page-title {
  font-size: 30px;
  font-weight: 600;
  color: #D91E18;
  margin-bottom: 40px;
}
.box-store .page-title .woocommerce-breadcrumb {
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #4D4D4D;
  font-weight: normal;
  position: relative;
  top: -2px;
  font-size: 14px;
}
.box-store .page-title .woocommerce-breadcrumb a:hover {
  color: #D91E18;
}
/* ----------------------------------------- Loja */
/* Select */
/* ----------------------------------------- */
.woocommerce-result-count {
  float: left;
  margin: 1em 0 !important;
}
.select-box {
  background-color: white;
  margin: 0 !important;
  margin-bottom: 1em !important;
  position: relative;
  border: 1px solid rgba(77, 77, 77, 0.2);
  z-index: 2;
  width: 100%;
}
.select-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  width: 100%;
  background: transparent;
  display: inline-block;
  padding: 9px;
  border: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: 0px;
  /* Firefox 1-3.6 */
  -moz-border-radius: 0px;
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: 0px;
  text-transform: uppercase;
  color: #D91E18;
  font-weight: 600;
  font-size: 14px;
  padding-right: 30px;
}
.select-box select:focus {
  outline: 0;
}
.select-box::after {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  right: 8px;
  top: 50%;
  color: #D2D2D2;
  z-index: 1;
  font-size: 22px;
  line-height: 10%;
}
/* ----------------------------------------- Select */
/* Loop Produtos */
/* ----------------------------------------- */
.woocommerce ul.products {
  padding: 0;
  padding-top: 30px;
}
.woocommerce ul.products li {
  list-style: none;
  margin-bottom: 30px;
}
.woocommerce ul.products li .product {
  border: 1px solid #D2D2D2;
  background-color: white;
  position: relative;
}
.woocommerce ul.products li .product h3 {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #4D4D4D;
  padding-top: 0;
}
.woocommerce ul.products li .product a:first-of-type {
  padding: 25px;
  display: block;
  text-align: center;
}
.woocommerce ul.products li .product a:first-of-type h5 {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 10px;
}
.woocommerce ul.products li .product a:first-of-type img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}
.woocommerce ul.products li .product a:first-of-type span.price {
  color: #D91E18;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  display: block;
}
.woocommerce ul.products li .product a:first-of-type span.price .from {
  display: block;
}
.woocommerce ul.products li .product a:first-of-type span.price .from,
.woocommerce ul.products li .product a:first-of-type span.price .from * {
  font-size: 15px !important;
  color: #D2D2D2;
}
.woocommerce ul.products li .product a:first-of-type span.price.parcelado {
  font-weight: 600;
}
.woocommerce ul.products li .product a:first-of-type span.price.parcelado .normal {
  font-weight: normal;
}
.woocommerce ul.products li .product a:first-of-type span.onsale {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5px;
  background-color: #A31612;
  color: white;
}
.woocommerce ul.products li .product a.added_to_cart {
  display: block;
  text-align: center;
  padding: 10px;
  color: #34A75A;
  font-weight: bold;
  position: absolute;
  bottom: 42px;
  width: 100%;
}
.woocommerce ul.products li .product a.added_to_cart:hover {
  text-decoration: underline !important;
}
.woocommerce ul.products li .product a.added_to_cart i {
  margin-right: 6px;
}
.woocommerce ul.products li .product a.add_to_cart_button {
  display: block;
  text-transform: uppercase;
  text-align: center;
  background-color: #34A75A;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.woocommerce ul.products li .product a.add_to_cart_button:hover {
  background-color: #288045;
}
/* ----------------------------------------- Loop Produtos */
/* Banners */
/* ----------------------------------------- */
aside .sidebar-banners {
  margin-top: 15px;
}
.sidebar-banners .banner-item {
  margin-bottom: 15px;
}
.sidebar-banners .banner-item .mask {
  background-repeat: no-repeat;
  text-align: right;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.sidebar-banners .banner-item .mask a {
  display: block;
  padding: 35px 25px;
  min-height: 145px;
}
.sidebar-banners .banner-item .mask a:hover span {
  color: #D91E18;
}
.sidebar-banners .banner-item .mask a h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
}
.sidebar-banners .banner-item .mask a span {
  color: white;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
/* ----------------------------------------- Banners */
/* Geral */
/* ----------------------------------------- */
.section-title {
  color: #7A100E;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.section-title .button {
  font-size: 14px;
  margin-top: 6px !important;
}
.telefone_info,
.email_info {
  min-height: 60px;
  line-height: 50px !important;
  font-weight: 600;
  color: #4D4D4D;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
  border-left: 1px solid rgba(77, 77, 77, 0.15);
  display: inline-block;
}
.telefone_info span,
.email_info span {
  text-transform: uppercase;
  line-height: 0;
  position: relative;
  top: 8px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400 !important;
  color: #4D4D4D;
  display: block;
}
.telefone_info.telefone_info,
.email_info.telefone_info {
  font-size: 24px;
}
.telefone_info:hover,
.email_info:hover {
  color: #D91E18;
}
.telefone_info:hover span,
.email_info:hover span {
  color: #4D4D4D;
}
/* ----------------------------------------- Geral */
/* Single Product */
/* ----------------------------------------- */
.single-product .product {
  position: relative;
}
.single-product .product span.onsale {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5px;
  background-color: #A31612;
  color: white;
}
.single-product .product .woocommerce-main-image img {
  max-width: 100%;
  height: auto;
}
.single-product .product .entry-summary .product_title {
  font-size: 24px;
  font-weight: bold;
  color: #4D4D4D;
  line-height: auto;
  margin-bottom: 10px;
}
.single-product .product .entry-summary form.cart {
  float: left;
}
.single-product .product .entry-summary form.cart .buttons_added {
  margin-right: 25px;
  margin-top: 23px;
}
.single-product .product .entry-summary form.cart #zipcode {
  border: 1px solid;
  padding: 4px 15px !important;
  height: auto !important;
}
.single-product .product .entry-summary form.cart button[type="submit"] {
  margin-top: 0;
}
.single-product .product .entry-summary form.cart button[type="submit"].single_add_to_cart_button {
  margin-top: 15px;
}
.single-product .product .entry-summary table.variations {
  width: 100%;
}
.single-product .product .entry-summary table.variations td.label {
  color: #4D4D4D;
  font-size: 18px;
  margin-right: 10px;
}
.single-product .product .entry-summary .product_meta {
  float: left;
  margin-left: 20px;
  margin-top: 23px;
}
.single-product .product .entry-summary .offers,
.single-product .product .entry-summary .single_variation_wrap {
  margin: 20px 0;
}
.single-product .product .entry-summary .offers span.from,
.single-product .product .entry-summary .single_variation_wrap span.from {
  display: block;
}
.single-product .product .entry-summary .offers span.from,
.single-product .product .entry-summary .single_variation_wrap span.from,
.single-product .product .entry-summary .offers span.from *,
.single-product .product .entry-summary .single_variation_wrap span.from * {
  font-size: 15px !important;
  color: #D2D2D2;
}
.single-product .product .entry-summary .offers span.price,
.single-product .product .entry-summary .single_variation_wrap span.price {
  color: #34A75A;
  font-weight: 600;
  font-size: 18px;
  display: block;
}
.single-product .product .entry-summary .offers span.price .amount,
.single-product .product .entry-summary .single_variation_wrap span.price .amount {
  font-size: 24px;
}
.single-product .product .entry-summary .offers span.price ins,
.single-product .product .entry-summary .single_variation_wrap span.price ins {
  text-decoration: none;
}
.single-product .product .entry-summary .offers span.parcelado,
.single-product .product .entry-summary .single_variation_wrap span.parcelado {
  font-weight: 600;
}
.single-product .product .entry-summary .offers span.parcelado .normal,
.single-product .product .entry-summary .single_variation_wrap span.parcelado .normal {
  font-weight: normal;
}
.single-product .product .entry-summary .woocommerce-review-link {
  margin-bottom: 20px;
  display: block;
}
.single-product .product .entry-summary .woocommerce-review-link:before,
.single-product .product .entry-summary .woocommerce-review-link:after {
  content: " ";
  display: table;
}
.single-product .product .entry-summary .woocommerce-review-link:after {
  clear: both;
}
.single-product .product .entry-summary #product_nav {
  float: right;
  width: 80px;
  height: 50px;
}
.single-product .product .entry-summary #product_nav span.title {
  display: block;
  color: #D2D2D2;
  margin-bottom: 2px;
}
.single-product .product .entry-summary #product_nav ul {
  padding: 0;
  text-align: center;
}
.single-product .product .entry-summary #product_nav ul li {
  list-style: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.single-product .product .entry-summary #product_nav ul li a {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.single-product .product .entry-summary #product_nav ul li a:hover i {
  background-color: #4D4D4D;
}
.single-product .product .entry-summary #product_nav ul li a span {
  text-indent: -9000px;
  display: inline-block;
}
.single-product .product .entry-summary #product_nav ul li a i {
  text-indent: 0;
  background-color: #D2D2D2;
  color: white;
  width: 30px;
  height: 30px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  font-size: 17px;
}
.single-product .product .entry-summary #product_nav ul li a i:before {
  line-height: 30px;
}
.single-product .caroufredsel_wrapper ul.yith_magnifier_gallery li a {
  text-align: center;
}
.single-product .caroufredsel_wrapper ul.yith_magnifier_gallery li a img {
  border: 1px solid rgba(77, 77, 77, 0.1);
}
.single-product .wc-tabs-wrapper {
  margin-top: 40px;
}
.single-product .wc-tabs-wrapper ul.tabs {
  padding: 0;
  list-style: none;
  position: relative;
  border-bottom: 2px solid #4D4D4D;
}
.single-product .wc-tabs-wrapper ul.tabs li {
  border: 2px solid #D2D2D2;
  display: inline-block;
  position: relative;
  margin-right: 1.5em;
  border-bottom: 0;
  top: 2px;
}
.single-product .wc-tabs-wrapper ul.tabs li a {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 700;
  color: #4D4D4D;
  text-decoration: none;
}
.single-product .wc-tabs-wrapper ul.tabs li a:hover {
  color: #4D4D4D;
  text-decoration: none;
}
.single-product .wc-tabs-wrapper ul.tabs li.active {
  border-color: #4D4D4D;
  border-bottom: 2px solid #F4F4F4;
}
.single-product .wc-tabs-wrapper ul.tabs li.active a {
  color: #4D4D4D;
  text-shadow: inherit;
}
.single-product .wc-tabs-wrapper ul.tabs li:before,
.single-product .wc-tabs-wrapper ul.tabs li:after {
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
}
.single-product .wc-tabs-wrapper ul.tabs li:before {
  left: -6px;
}
.single-product .wc-tabs-wrapper ul.tabs li:after {
  right: -6px;
}
.single-product .wc-tabs-wrapper ul.tabs:before {
  position: absolute;
  content: " ";
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.single-product .wc-tabs-wrapper .panel {
  margin: 0 0 2em;
  padding: 2em 0 ;
  background: #F4F4F4;
}
.single-product .wc-tabs-wrapper .panel h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
.single-product .related ul.products li .product {
  border: 0;
  background-color: transparent;
}
.single-product .related ul.products li .product a.add_to_cart_button {
  font-size: 14px;
  margin-top: 15px;
}
.single-product .related ul.products li .product a:first-of-type {
  padding: 0;
}
.single-product .related ul.products li .product a:first-of-type img {
  border: 1px solid #D2D2D2;
}
.single-product .related ul.products li .product a:first-of-type h3 {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  text-transform: capitalize;
  padding: 10px 0;
  border-bottom: 1px solid rgba(77, 77, 77, 0.2);
  margin-bottom: 10px;
}
.single-product .related ul.products li .product a:first-of-type span.price {
  text-align: left;
  color: #34A75A;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.single-product .related ul.products li .product a:first-of-type span.price.from {
  display: block;
}
.single-product .related ul.products li .product a:first-of-type span.price.from,
.single-product .related ul.products li .product a:first-of-type span.price.from * {
  font-size: 15px !important;
  color: #D2D2D2;
}
.single-product .related ul.products li .product a:first-of-type span.price.parcelado {
  font-weight: 600;
}
.single-product .related ul.products li .product a:first-of-type span.price.parcelado .normal {
  font-weight: normal;
}
/* ----------------------------------------- Single Product */
/* Woocommerce */
/* ----------------------------------------- */
/**
	 * Star ratings
	 */
.woocommerce {
  /**
		 * Reviews
		 */
  /**
		 * Tables
		 */
  /**
		 * Cart sidebar
		 */
  /**
		 * Price filter widget
		 */
  /**
		 * Forms
		 */
  /**
		 * Forms
		 */
}
.woocommerce .buttons_added {
  float: left;
  margin-top: 10px;
  padding: 0 !important;
  margin-right: 10px;
}
.woocommerce .buttons_added input.minus,
.woocommerce .buttons_added input.plus {
  position: relative;
  border: 0;
  color: white;
  font-size: 16px;
  width: 18px;
  height: 18px;
  text-align: center;
  padding: 0;
  padding-bottom: 2px;
  margin-top: 5px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.woocommerce .buttons_added input.minus:focus,
.woocommerce .buttons_added input.plus:focus {
  outline: 0;
}
.woocommerce .buttons_added input.input-text.qty {
  margin: 0 8px;
  border: 1px solid rgba(77, 77, 77, 0.3);
  padding: 5px 15px;
  width: 50px;
  display: inline-block;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.woocommerce .buttons_added input.minus {
  float: left;
  background: #D91E18;
}
.woocommerce .buttons_added input.plus {
  float: right;
  background: #34A75A;
}
.woocommerce button.single_add_to_cart_button {
  background-color: #34A75A;
  color: white;
  text-transform: uppercase;
  padding: 5px 12px;
  display: inline-block;
  border: 0;
  font-size: 18px;
  padding: 10px 20px;
}
.woocommerce button.single_add_to_cart_button:hover {
  background-color: #226d3b;
}
.woocommerce .woocommerce-message,
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info {
  padding: 1em 2em 1em 3.5em !important;
  margin: 0 0 2em !important;
  position: relative;
  background-color: #E6FBD3;
  color: #4D4D4D;
  list-style: none outside !important;
  width: auto;
  word-wrap: break-word;
}
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before,
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-info:after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-message:after,
.woocommerce .woocommerce-error:after,
.woocommerce .woocommerce-info:after {
  clear: both;
}
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before {
  font-family: "FontAwesome";
  content: "\f05a";
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1.5em;
}
.woocommerce .woocommerce-message .button,
.woocommerce .woocommerce-error .button,
.woocommerce .woocommerce-info .button {
  float: right;
}
.woocommerce .woocommerce-message li,
.woocommerce .woocommerce-error li,
.woocommerce .woocommerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.woocommerce .woocommerce-message a.wc-forward,
.woocommerce .woocommerce-error a.wc-forward,
.woocommerce .woocommerce-info a.wc-forward {
  text-transform: uppercase;
  color: #4D4D4D;
  font-weight: bold;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.woocommerce .woocommerce-message a.wc-forward:hover,
.woocommerce .woocommerce-error a.wc-forward:hover,
.woocommerce .woocommerce-info a.wc-forward:hover {
  color: #34A75A;
}
.woocommerce .woocommerce-message {
  border-top: 1px solid #8fae1b;
}
.woocommerce .woocommerce-message:before {
  content: "\f129";
  color: #4D4D4D;
}
.woocommerce .woocommerce-info {
  border-top: 1px solid #1e85be;
}
.woocommerce .woocommerce-info:before {
  color: #1e85be;
}
.woocommerce .woocommerce-error {
  border-top: 1px solid #b81c23;
}
.woocommerce .woocommerce-error:before {
  content: "\f00d";
  color: #b81c23;
}
.woocommerce #reviews h2 small {
  float: right;
  font-size: 15px;
  margin: 10px 0 0 0;
}
.woocommerce #reviews h2 small a {
  text-decoration: none;
}
.woocommerce #reviews h3 {
  margin: 0;
}
.woocommerce #reviews #respond {
  margin: 0;
  border: 0;
  padding: 0;
}
.woocommerce #reviews #comment {
  height: 75px;
}
.woocommerce #reviews #comments .add_review:before,
.woocommerce #reviews #comments .add_review:after {
  content: " ";
  display: table;
}
.woocommerce #reviews #comments .add_review:after {
  clear: both;
}
.woocommerce #reviews #comments h2 {
  clear: none;
  margin-bottom: 25px;
  font-size: 24px;
}
.woocommerce #reviews #comments ol.commentlist {
  padding: 0;
  margin: 0;
  width: 100%;
  background: none;
  list-style: none;
}
.woocommerce #reviews #comments ol.commentlist:before,
.woocommerce #reviews #comments ol.commentlist:after {
  content: " ";
  display: table;
}
.woocommerce #reviews #comments ol.commentlist:after {
  clear: both;
}
.woocommerce #reviews #comments ol.commentlist li {
  padding: 0;
  margin: 0 0 20px;
  position: relative;
  background: 0;
  border: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
  font-size: 0.75em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 32px;
  height: auto;
  border: 1px solid #cacaca;
  margin: 0;
  box-shadow: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
  margin: 0 0 0 50px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 1em 1em 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:before,
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
  content: " ";
  display: table;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
  clear: both;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
  margin: 0 0 1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
  font-size: 0.83em;
}
.woocommerce #reviews #comments ol.commentlist ul.children {
  list-style: none outside;
  margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
  display: none;
}
.woocommerce #reviews #comments ol.commentlist #respond {
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 1em 1em 0;
  margin: 20px 0 0 50px;
}
.woocommerce #reviews #comments .commentlist > li:before {
  content: "";
}
.woocommerce .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  color: #F8AD40;
  font-family: 'star' !important;
}
.woocommerce .star-rating:before {
  content: "\73\73\73\73\73";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.woocommerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.woocommerce .star-rating span:before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
}
.woocommerce .woocommerce-product-rating {
  line-height: 2;
  display: block;
}
.woocommerce .woocommerce-product-rating:before,
.woocommerce .woocommerce-product-rating:after {
  content: " ";
  display: table;
}
.woocommerce .woocommerce-product-rating:after {
  clear: both;
}
.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0.5em 4px 0 0;
  float: left;
}
.woocommerce .products .star-rating {
  display: block;
  margin: 0 0 0.5em;
  float: none;
}
.woocommerce .hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
.woocommerce #review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0 0 0;
  background: transparent none;
  border: 0;
}
.woocommerce #review_form #respond:before,
.woocommerce #review_form #respond:after {
  content: " ";
  display: table;
}
.woocommerce #review_form #respond:after {
  clear: both;
}
.woocommerce #review_form #respond p {
  margin: 0 0 10px;
}
.woocommerce #review_form #respond .form-submit input {
  left: auto;
}
.woocommerce #review_form #respond textarea {
  box-sizing: border-box;
  width: 100%;
}
.woocommerce p.stars {
  position: relative;
  font-size: 1em;
}
.woocommerce p.stars a {
  display: inline-block;
  font-weight: 700;
  margin-right: 1em;
  text-indent: -9999px;
  position: relative;
  border-bottom: 0 !important;
  outline: 0;
}
.woocommerce p.stars a:last-child {
  border-right: 0;
}
.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5 {
  border-right: 1px solid #ccc;
}
.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-5:after {
  font-family: "WooCommerce";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.woocommerce p.stars a.star-1 {
  width: 2em;
}
.woocommerce p.stars a.star-1:after {
  content: "\e021";
}
.woocommerce p.stars a.star-1:hover:after,
.woocommerce p.stars a.star-1.active:after {
  content: "\e020";
}
.woocommerce p.stars a.star-2 {
  width: 3em;
}
.woocommerce p.stars a.star-2:after {
  content: "\e021\e021";
}
.woocommerce p.stars a.star-2:hover:after,
.woocommerce p.stars a.star-2.active:after {
  content: "\e020\e020";
}
.woocommerce p.stars a.star-3 {
  width: 4em;
}
.woocommerce p.stars a.star-3:after {
  content: "\e021\e021\e021";
}
.woocommerce p.stars a.star-3:hover:after,
.woocommerce p.stars a.star-3.active:after {
  content: "\e020\e020\e020";
}
.woocommerce p.stars a.star-4 {
  width: 5em;
}
.woocommerce p.stars a.star-4:after {
  content: "\e021\e021\e021\e021";
}
.woocommerce p.stars a.star-4:hover:after,
.woocommerce p.stars a.star-4.active:after {
  content: "\e020\e020\e020\e020";
}
.woocommerce p.stars a.star-5 {
  width: 6em;
  border: 0;
}
.woocommerce p.stars a.star-5:after {
  content: "\e021\e021\e021\e021\e021";
}
.woocommerce p.stars a.star-5:hover:after,
.woocommerce p.stars a.star-5.active:after {
  content: "\e020\e020\e020\e020\e020";
}
.woocommerce table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
.woocommerce table.shop_attributes th {
  width: 150px;
  font-weight: 700;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5;
}
.woocommerce table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5;
}
.woocommerce table.shop_attributes td p {
  margin: 0;
  padding: 8px 0;
}
.woocommerce table.shop_attributes .alt td,
.woocommerce table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}
.woocommerce table.shop_table {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px -1px 24px 0px;
  text-align: left;
  width: 100%;
  background-color: white;
  border-collapse: separate;
  border-radius: 5px;
}
.woocommerce table.shop_table th {
  font-weight: 700;
  padding: 9px 6px;
  text-transform: uppercase;
}
.woocommerce table.shop_table th.product-remove {
  padding-left: 10px;
}
.woocommerce table.shop_table td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 6px;
  vertical-align: middle;
}
.woocommerce table.shop_table td.product-remove {
  text-align: center;
}
.woocommerce table.shop_table td small {
  font-weight: normal;
}
.woocommerce table.shop_table td.product-thumbnail img {
  max-width: 60px;
  height: auto;
}
.woocommerce table.shop_table td.actions {
  border-top: 3px solid #4D4D4D;
  vertical-align: top;
}
.woocommerce table.shop_table td span.amount {
  font-weight: bold;
}
.woocommerce table.shop_table td.shipping {
  padding-left: 15px !important;
}
.woocommerce table.shop_table td.actions {
  padding-right: 15px !important;
}
.woocommerce table.shop_table tbody:first-child tr:first-child th,
.woocommerce table.shop_table tbody:first-child tr:first-child td {
  border-top: 0;
}
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce table.shop_table tbody th {
  font-weight: 700;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce table.my_account_orders {
  font-size: 0.85em;
}
.woocommerce table.my_account_orders th,
.woocommerce table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
.woocommerce table.my_account_orders .button {
  white-space: nowrap;
}
.woocommerce table.my_account_orders .order-actions {
  text-align: right;
}
.woocommerce table.my_account_orders .order-actions .button {
  margin: 0.125em 0 0.125em 0.25em;
}
.woocommerce td.product-name dl.variation {
  margin: 0.25em 0;
}
.woocommerce td.product-name dl.variation:before,
.woocommerce td.product-name dl.variation:after {
  content: " ";
  display: table;
}
.woocommerce td.product-name dl.variation:after {
  clear: both;
}
.woocommerce td.product-name dl.variation dt,
.woocommerce td.product-name dl.variation dd {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
}
.woocommerce td.product-name dl.variation dt {
  font-weight: 700;
  padding: 0 0 0.25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.woocommerce td.product-name dl.variation dd {
  padding: 0 0 0.25em 0;
}
.woocommerce td.product-name dl.variation dd p:last-child {
  margin-bottom: 0;
}
.woocommerce td.product-name p.backorder_notification {
  font-size: 0.83em;
}
.woocommerce td.product-quantity {
  min-width: 80px;
}
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.woocommerce ul.cart_list li,
.woocommerce ul.product_list_widget li {
  padding: 4px 0;
  margin: 0;
  list-style: none;
}
.woocommerce ul.cart_list li:before,
.woocommerce ul.product_list_widget li:before,
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li:after,
.woocommerce ul.product_list_widget li:after {
  clear: both;
}
.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  display: block;
  font-weight: 700;
}
.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  float: right;
  margin-left: 4px;
  width: 32px;
  height: auto;
  box-shadow: none;
}
.woocommerce ul.cart_list li dl,
.woocommerce ul.product_list_widget li dl {
  margin: 0;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.woocommerce ul.cart_list li dl:before,
.woocommerce ul.product_list_widget li dl:before,
.woocommerce ul.cart_list li dl:after,
.woocommerce ul.product_list_widget li dl:after {
  content: " ";
  display: table;
}
.woocommerce ul.cart_list li dl:after,
.woocommerce ul.product_list_widget li dl:after {
  clear: both;
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt,
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
}
.woocommerce ul.cart_list li dl dt,
.woocommerce ul.product_list_widget li dl dt {
  font-weight: 700;
  padding: 0 0 0.25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.woocommerce ul.cart_list li dl dd,
.woocommerce ul.product_list_widget li dl dd {
  padding: 0 0 0.25em 0;
}
.woocommerce ul.cart_list li dl dd p:last-child,
.woocommerce ul.product_list_widget li dl dd p:last-child {
  margin-bottom: 0;
}
.woocommerce ul.cart_list li .star-rating,
.woocommerce ul.product_list_widget li .star-rating {
  float: none;
}
.woocommerce.widget_shopping_cart .total,
.woocommerce .widget_shopping_cart .total {
  border-top: 3px double lightgray;
  padding: 4px 0 0;
}
.woocommerce.widget_shopping_cart .total strong,
.woocommerce .widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce .widget_shopping_cart .cart_list li {
  padding-left: 2em;
  position: relative;
  padding-top: 0;
}
.woocommerce.widget_shopping_cart .cart_list li a.remove,
.woocommerce .widget_shopping_cart .cart_list li a.remove {
  position: absolute;
  top: 0;
  left: 0;
}
.woocommerce.widget_shopping_cart .buttons:before,
.woocommerce .widget_shopping_cart .buttons:before,
.woocommerce.widget_shopping_cart .buttons:after,
.woocommerce .widget_shopping_cart .buttons:after {
  content: " ";
  display: table;
}
.woocommerce.widget_shopping_cart .buttons:after,
.woocommerce .widget_shopping_cart .buttons:after {
  clear: both;
}
.woocommerce .shipping h4,
.woocommerce .coupon h4 {
  font-weight: bold;
  margin-bottom: 15px;
}
.woocommerce .shipping .input-text,
.woocommerce .coupon .input-text {
  border: 1px solid rgba(77, 77, 77, 0.2);
  padding: 9px;
  width: 100%;
}
.woocommerce .shipping {
  border-top: 3px solid #4D4D4D !important;
}
.woocommerce .shipping .shipping-calculator-button {
  display: none !important;
}
.woocommerce .shipping .shipping-calculator-form {
  display: block !important;
}
.woocommerce .shipping .select-box,
.woocommerce .shipping .input-text {
  max-width: 270px;
}
.woocommerce .button {
  color: white;
  background-color: #4D4D4D;
  padding: 5px 15px;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  margin-top: 15px;
}
.woocommerce .button:hover {
  background-color: #34A75A;
}
.woocommerce .button.loading {
  opacity: 0.25;
  padding-right: 2.618em;
}
.woocommerce .button.loading:after {
  font-family: "WooCommerce";
  content: "\e01c";
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  position: absolute;
  right: 0.7em;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.woocommerce .button.loading:after 100% {
  transform: rotate(360deg);
}
.woocommerce .button.added:after {
  font-family: 'WooCommerce';
  content: "\e017";
  margin-left: 0.53em;
  vertical-align: bottom;
}
.woocommerce .button-success {
  background-color: #34A75A;
  color: white;
  text-transform: uppercase;
  padding: 5px 12px;
  display: inline-block;
  border: 0;
  font-size: 18px;
}
.woocommerce .button-success:hover {
  background-color: #226d3b;
}
.woocommerce .button-success-inverse {
  color: #34A75A;
  background-color: white;
  padding: 5px 15px;
  display: inline-block;
  border: 2px solid #34A75A;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: bold;
}
.woocommerce .button-success-inverse:hover {
  color: white;
  background-color: #34A75A;
}
.woocommerce .cart_totals,
.woocommerce .woocommerce-checkout-review-order {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0px -1px 24px 0px;
  padding: 3px 15px 15px;
  text-align: left;
  width: 100%;
  background-color: white;
  border-collapse: separate;
  border-radius: 5px;
}
.woocommerce .cart_totals h2,
.woocommerce .woocommerce-checkout-review-order h2 {
  font-size: 14px;
  font-weight: 700;
  padding: 9px 0;
  text-transform: uppercase;
}
.woocommerce .cart_totals .frete,
.woocommerce .woocommerce-checkout-review-order .frete {
  margin: 5px 0;
}
.woocommerce .cart_totals #shipping_method,
.woocommerce .woocommerce-checkout-review-order #shipping_method,
.woocommerce .cart_totals .payment_methods,
.woocommerce .woocommerce-checkout-review-order .payment_methods {
  padding: 0;
}
.woocommerce .cart_totals #shipping_method li,
.woocommerce .woocommerce-checkout-review-order #shipping_method li,
.woocommerce .cart_totals .payment_methods li,
.woocommerce .woocommerce-checkout-review-order .payment_methods li {
  list-style: none;
}
.woocommerce .cart_totals #shipping_method li input[type="radio"],
.woocommerce .woocommerce-checkout-review-order #shipping_method li input[type="radio"],
.woocommerce .cart_totals .payment_methods li input[type="radio"],
.woocommerce .woocommerce-checkout-review-order .payment_methods li input[type="radio"] {
  position: absolute;
}
.woocommerce .cart_totals #shipping_method li label,
.woocommerce .woocommerce-checkout-review-order #shipping_method li label,
.woocommerce .cart_totals .payment_methods li label,
.woocommerce .woocommerce-checkout-review-order .payment_methods li label {
  padding-left: 17px;
  font-weight: 400;
}
.woocommerce .cart_totals #shipping_method li label:hover,
.woocommerce .woocommerce-checkout-review-order #shipping_method li label:hover,
.woocommerce .cart_totals .payment_methods li label:hover,
.woocommerce .woocommerce-checkout-review-order .payment_methods li label:hover {
  color: #34A75A;
  cursor: pointer;
}
.woocommerce .cart_totals .payment_methods,
.woocommerce .woocommerce-checkout-review-order .payment_methods {
  margin: 30px 0;
}
.woocommerce .cart_totals .wc-proceed-to-checkout,
.woocommerce .woocommerce-checkout-review-order .wc-proceed-to-checkout {
  margin-top: 100px;
}
.woocommerce .cart_totals .wc-proceed-to-checkout hr,
.woocommerce .woocommerce-checkout-review-order .wc-proceed-to-checkout hr {
  border-top: 3px solid #34A75A;
}
.woocommerce .cart_totals .wc-proceed-to-checkout .button-success-inverse,
.woocommerce .woocommerce-checkout-review-order .wc-proceed-to-checkout .button-success-inverse {
  display: block;
  width: 100%;
}
.woocommerce .cart_totals .wc-proceed-to-checkout .button-success,
.woocommerce .woocommerce-checkout-review-order .wc-proceed-to-checkout .button-success {
  font-weight: normal;
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px 15px;
}
.woocommerce #place_order {
  background-color: #34A75A;
  color: white;
  text-transform: uppercase;
  padding: 5px 12px;
  display: inline-block;
  border: 0;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 15px 5px;
  display: block;
  width: 100%;
}
.woocommerce #place_order:hover {
  background-color: #226d3b;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields h3,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields h3 {
  text-transform: uppercase;
  color: #D91E18;
  font-weight: 500;
  margin-bottom: 20px;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row {
  float: left;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row label,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row label {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-top: 15px;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row label.checkbox,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row label.checkbox {
  display: inline-block;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row.form-row-first,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row.form-row-first {
  width: 49%;
  margin-right: 1%;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row.form-row-last,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row.form-row-last {
  width: 48%;
  margin-left: 1%;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row.form-row-wide,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row.form-row-wide,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row.notes,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row.notes {
  width: 100%;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row .input-text,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row .input-text,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .form-row textarea,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .form-row textarea {
  border: 1px solid rgba(77, 77, 77, 0.2);
  padding: 9px;
  width: 100%;
}
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-billing-fields .select-box,
.woocommerce form.woocommerce-checkout #customer_details .woocommerce-shipping-fields .select-box {
  margin-bottom: 0 !important;
}
.woocommerce .select2-container .select2-choice {
  padding: 9px;
  height: 39px;
  line-height: 20px;
  border: 1px solid rgba(77, 77, 77, 0.2);
  color: #D91E18;
  background: white;
  font-weight: bold;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.woocommerce .select2-container .select2-choice .select2-arrow {
  background: white;
  border: 0;
}
.woocommerce .select2-container .select2-choice .select2-arrow b {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  background: none !important;
  color: #D2D2D2;
  z-index: 1;
  font-size: 22px;
  line-height: 10%;
}
.woocommerce .select2-container .select2-choice .select2-arrow b:before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  right: 8px;
  top: 50%;
  color: #D2D2D2;
  z-index: 1;
  font-size: 22px;
  line-height: 10%;
}
.woocommerce .widget_price_filter {
  padding: 40px 0;
}
.woocommerce .widget_price_filter h2 {
  display: block !important;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.woocommerce .widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.woocommerce .widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4;
  font-size: 0.8751em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
  float: left;
  margin: 0;
  font-size: 14px;
  padding: 2px 10px;
}
.woocommerce .widget_price_filter .price_slider_amount .price_slider_amount {
  float: right;
}
.woocommerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  background-color: #D91E18;
  border-radius: 1em;
  cursor: ew-resize;
  outline: none;
  top: -0.3em;
  margin-left: -0.5em;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  border-radius: 1em;
  background-color: #D91E18;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: #950000;
  border: 0;
}
.woocommerce .widget_price_filter .ui-slider-horizontal {
  height: 0.5em;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.woocommerce nav.woocommerce-pagination {
  text-align: left;
}
.woocommerce nav.woocommerce-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-right: 0;
  margin: 1px;
}
.woocommerce nav.woocommerce-pagination ul li {
  border: 2px solid #A31612;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
  min-width: 1em;
  display: block;
  color: #A31612;
}
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:focus {
  background: #A31612;
  color: white;
}
.woocommerce form .form-row {
  padding: 3px;
  margin: 0 0 6px;
}
.woocommerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -moz-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
.woocommerce form .form-row label {
  line-height: 2;
}
.woocommerce form .form-row label.hidden {
  visibility: hidden;
}
.woocommerce form .form-row label.inline {
  display: inline;
}
.woocommerce form .form-row select {
  cursor: pointer;
  margin: 0;
}
.woocommerce form .form-row .required {
  color: red;
  font-weight: 700;
  border: 0;
}
.woocommerce form .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  line-height: 1;
}
.woocommerce form .form-row textarea {
  height: 4em;
  line-height: 1.5;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce form .form-row .select2-container {
  width: 100%;
  line-height: 2em;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container,
.woocommerce form .form-row.woocommerce-invalid input.input-text,
.woocommerce form .form-row.woocommerce-invalid select {
  border-color: #7A100E;
}
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
  border-color: #34A75A;
}
.woocommerce form .form-row ::-webkit-input-placeholder {
  line-height: normal;
}
.woocommerce form .form-row :-moz-placeholder {
  line-height: normal;
}
.woocommerce form .form-row :-ms-input-placeholder {
  line-height: normal;
}
.woocommerce form.login,
.woocommerce form.checkout_coupon,
.woocommerce form.register {
  margin: 2em 0 2em 0px;
  text-align: left;
  border-radius: 5px;
}
.woocommerce form .form-row:before,
.woocommerce form .form-row:after {
  content: " ";
  display: table;
}
.woocommerce form .form-row:after {
  clear: both;
}
.woocommerce form .form-row label {
  display: block;
}
.woocommerce form .form-row label.checkbox {
  display: inline;
}
.woocommerce form .form-row select {
  width: 100%;
}
.woocommerce form .form-row .input-text {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.woocommerce form .form-row-last {
  float: right;
}
.woocommerce form .form-row-wide {
  clear: both;
}
.woocommerce #billing_country_field,
.woocommerce #billing_postcode_field {
  width: 100%;
}
/* ----------------------------------------- Woocommerce */
/* Pages */
/* ----------------------------------------- */
.hentry .conteudo p {
  margin-bottom: 10px;
}
/* ----------------------------------------- Pages */
/* Fale Conosco / Contato */
/* ----------------------------------------- */
article.fale-conosco form input[type="text"],
article.fale-conosco form input[type="email"],
article.fale-conosco form textarea {
  width: 100%;
  display: block;
  border: 2px solid #7A100E;
  padding: 7px 10px;
  line-height: normal;
  color: #7A100E;
  margin-bottom: 15px;
}
article.fale-conosco form input[type="text"]::-moz-placeholder,
article.fale-conosco form input[type="email"]::-moz-placeholder,
article.fale-conosco form textarea::-moz-placeholder {
  color: #7A100E;
  opacity: 1;
}
article.fale-conosco form input[type="text"]:-ms-input-placeholder,
article.fale-conosco form input[type="email"]:-ms-input-placeholder,
article.fale-conosco form textarea:-ms-input-placeholder {
  color: #7A100E;
}
article.fale-conosco form input[type="text"]::-webkit-input-placeholder,
article.fale-conosco form input[type="email"]::-webkit-input-placeholder,
article.fale-conosco form textarea::-webkit-input-placeholder {
  color: #7A100E;
}
article.fale-conosco form input[type="submit"] {
  background-color: #2EB971;
  color: white;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 20px 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
article.fale-conosco form input[type="submit"]:hover {
  background-color: #288045;
}
article.fale-conosco .acf-map {
  height: 325px;
}
article.fale-conosco .infos aside {
  float: right;
  padding: 0 100px;
  border-left: 4px solid lightgray;
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 30px;
}
article.fale-conosco .infos aside a {
  color: #7A100E;
}
article.fale-conosco .infos aside a:hover {
  text-decoration: underline !important;
}
/* ----------------------------------------- Fale Conosco / Contato */
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  display: flex;
  padding: 0 0 5px 0;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid;
}
